h1 {
    text-decoration: none;
  }
  
  .profile {
    width: 400px;
    height: 400px;
    border-radius: 10px;
    border: 10px solid #9f7369;
  }
  
  .girl-with-volley-ball {
    width: 400px;
    height: 400px;
    border-radius: 10px;
    border: 10px solid #716710;
  }
  